.taskInp{
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}

.taskInp::placeholder{
    color:var( --input-placeholder-color);
}

.addTaskBtn{
    padding: 10px;
    width: 20%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: #714DD9;
    font-weight: bold;
    color: var(--primary-text-color);
}